// Bootstrap colors.
// https://coolors.co/0b090a-161a1d-660708-a4161a-ba181b-e5383b-b1a7a6-d3d3d3-f5f3f4-ffffff
$primary: #E5383B;
$secondary: #660708;
$light: #D3D3D3;
$dark: #0B090A;
$white: #FFFFFF;

// Light theme.
$body-bg: $white;
$body-color: $dark;