// colors
$accentColor = #E5383B

$textColor = #0B090A
$darkTextColor = #0B090A

$borderColor = #D3D3D3
$darkBorderColor = #0B090A

$codeBgColor = #0B090A

$bgColor = #FFFFFF
$headerBgColor = #660708

$footerBgColor = #660708
$footerColor = #FFFFFF

$newsletterBgColor = #FFFFFF

// layout
$contentWidth = 1400px

// responsive breakpoints
$MQNarrow = 992px
$MQMobile = 768px
$MQMobileNarrow = 576px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile
