---
title: Sample Post 1
image: /images/carousel/IMG_1452.JPG
summary: A Sample Blog Post 1
date: 2021-01-01
sticky: true
weight: 1
tags:
  - post
  - tag1
  - tag2
  - tag3
paths:
  high: /images/photos/
  low: /images/photos/
albums:
  - id: Test
    photos:
      - name: IMG_1452.JPG
        title: Photo
        size: 2160x1440
      - name: IMG_1453.JPG
        title: Photo
        size: 2160x1440
      - name: IMG_1454.JPG
        title: Photo
        size: 2160x1440
      - name: IMG_1455.JPG
        title: Photo
        size: 2160x1440
      - name: IMG_1456.JPG
        title: Photo
        size: 2160x1440
      - name: IMG_1457.JPG
        title: Photo
        size: 2160x1440
      - name: IMG_1458.JPG
        title: Photo
        size: 2160x1440
      - name: IMG_1459.JPG
        title: Photo
        size: 2160x1440
      - name: IMG_1460.JPG
        title: Photo
        size: 2160x1440
      - name: IMG_1466.JPG
        title: Photo
        size: 2160x1440
      - name: IMG_1467.JPG
        title: Photo
        size: 2160x1440
      - name: IMG_1468.JPG
        title: Photo
        size: 2160x1440
      - name: IMG_1491.JPG
        title: Photo
        size: 2160x1440
      - name: IMG_1493.JPG
        title: Photo
        size: 2160x1440
      - name: IMG_1494.JPG
        title: Photo
        size: 2160x1440
      - name: IMG_1495.JPG
        title: Photo
        size: 2160x1440
      - name: IMG_1496.JPG
        title: Photo
        size: 2160x1440
      - name: IMG_1497.JPG
        title: Photo
        size: 2160x1440
      - name: IMG_1500.JPG
        title: Photo
        size: 2160x1440
      - name: IMG_1501.JPG
        title: Photo
        size: 2160x1440
      - name: IMG_1502.JPG
        title: Photo
        size: 2160x1440
      - name: IMG_1503.JPG
        title: Photo
        size: 2160x1440
      - name: IMG_1504.JPG
        title: Photo
        size: 2160x1440
      - name: IMG_1505.JPG
        title: Photo
        size: 2160x1440
      - name: IMG_1507.JPG
        title: Photo
        size: 2160x1440
      - name: IMG_1512.JPG
        title: Photo
        size: 2160x1440
      - name: IMG_1513.JPG
        title: Photo
        size: 2160x1440
      - name: IMG_1514.JPG
        title: Photo
        size: 2160x1440
      - name: IMG_1516.JPG
        title: Photo
        size: 2160x1440
      - name: IMG_1517.JPG
        title: Photo
        size: 2160x1440
      - name: IMG_1518.JPG
        title: Photo
        size: 2160x1440
      - name: IMG_1520.JPG
        title: Photo
        size: 2160x1440
      - name: IMG_1538.JPG
        title: Photo
        size: 2160x1440
---

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ultrices tincidunt purus tincidunt imperdiet. Sed massa justo, luctus id scelerisque at, ullamcorper et purus. Duis a dignissim dolor. Donec non lacinia ipsum. Integer hendrerit faucibus leo, eu ullamcorper velit pretium non. Vestibulum dignissim tellus a enim semper sodales. Vestibulum vestibulum, dolor nec commodo egestas, ex justo vehicula orci, in facilisis nibh quam eu nunc. Nam id venenatis justo.

![Photo 1](/images/photos/IMG_1452.JPG)

Suspendisse id vulputate orci. Quisque id auctor sapien. Donec id ornare felis, sed vestibulum purus. In mi purus, lacinia et convallis non, fermentum nec orci. Suspendisse euismod velit vel ultrices vehicula. Nulla nec diam ornare, euismod nunc ac, mollis nulla. Pellentesque volutpat venenatis finibus. Nulla risus est, blandit a porta vel, congue tincidunt diam. Phasellus a lobortis libero, in vulputate mi. Donec euismod pulvinar felis, ac aliquet nunc vehicula eget. Quisque mi mi, euismod eu massa eu, posuere facilisis tellus. Aliquam nec metus quam.

[![Photo 2](/images/photos/IMG_1453.JPG)](https://github.com)

## Praesent

Praesent et aliquam nisi. Donec rhoncus vehicula nunc, imperdiet suscipit neque interdum sit amet. Nam eu nisl felis. Praesent interdum purus ante, fringilla pretium sem vulputate vitae. Aliquam nec varius lorem. Nullam a tellus ut augue porttitor sodales a in ex. Etiam id velit ut est commodo cursus. Donec justo sem, luctus sed dui sit amet, bibendum finibus leo. Nulla quis semper ipsum. Proin luctus sed neque quis hendrerit. Quisque accumsan, velit at bibendum lobortis, nibh mauris porttitor nunc, ut auctor augue nibh sed enim.

### Sed id libero

[Sed id libero molestie](/2021/01/01/post-2/), accumsan justo in, mollis sem. Curabitur convallis augue felis, eu facilisis magna varius quis. Pellentesque luctus volutpat orci, at luctus dolor commodo vitae. In laoreet nec arcu in vehicula. Maecenas ultrices ac purus vel porttitor. In nulla magna, ullamcorper sed pulvinar vel, ornare eget diam. Morbi ultrices faucibus libero vel ornare. Duis ante elit, dignissim sit amet tincidunt quis, pulvinar in est. Suspendisse vel semper ipsum, sed rhoncus ligula. Donec sodales lacus erat, sed congue arcu molestie vel. Cras nec massa fringilla, iaculis lectus in, malesuada ipsum. Curabitur vehicula enim vel consequat pretium. Ut nec consectetur purus.

::: slot sidebar

[[toc]]

![Photo 3](/images/photos/IMG_1454.JPG)
![Photo 4](/images/photos/IMG_1455.JPG)
![Photo 5](/images/photos/IMG_1456.JPG)

:::

**Lorem ipsum dolor sit amet**, _consectetur adipiscing elit_. Nunc placerat facilisis scelerisque. Nam dictum sapien sem, eget convallis nulla maximus vitae. Integer eget eleifend massa. Nulla auctor eu libero quis cursus. Curabitur non ullamcorper metus. Suspendisse dapibus tellus vel erat placerat, a molestie mi posuere. In dapibus libero nec elementum lobortis. Sed faucibus velit non velit placerat, vitae blandit metus venenatis. Duis luctus nulla felis, in molestie libero mollis eget. Vivamus tincidunt, sapien et volutpat aliquet, dui mi tincidunt est, vestibulum vulputate ante dolor non felis. Vestibulum pulvinar imperdiet nunc, ac condimentum ante maximus sed.

## Table

| Field Name | Maximum                 |
|------------|-------------------------|
| 1          | 4-5                     |
| 2          | 8-10                    |
| 3          | 12-15                   |
| 4          | 16-20                   |
| 5          | 20-25                   |
| 6          | 24-30                   |
| Maximum    | 29-30                   |
| Minimum    | 5-6                     |
| Straight   | 66 (only if first roll) |
| Triple     | 38 (three 6)            |
| Full       | 58 (three 6 and two 5)  |
| Poker      | 64 (four 6)             |
| Yamb       | 80 (five 6)             |

## Code

You can use `variables` in inline text too!

```python
# This program prints Hello, world!
print('Hello, world!')
```

## Lists

### Bullets

* Foo
* Bar

### Numbered

1. Baz
1. Xyz

## Quote

> Lorem ipsum dolor sit amet.

## Line

- - - -

## Foldables

<details>
    <summary>Title 1</summary>
    <p>Content 1 Content 1 Content 1 Content 1 Content 1</p>
</details>

<details>
    <summary>Title 2</summary>
    <p>Content 2 Content 2 Content 2 Content 2 Content 2</p>
</details>

## Hotkeys

<kbd>⌘F</kbd>

## Emojis

 :eggplant: :sweat_drops:

::: slot wide

## Image tests

### Full-width

![Photo 6](/images/photos/IMG_1457.JPG)

### Half-width

![Photo 8](/images/photos/IMG_1458.JPG#half)
![Photo 9](/images/photos/IMG_1459.JPG#half)

### Invert

![Photo 10](/images/photos/IMG_1460.JPG#invert)

### Rectangular

![Photo 11](/images/photos/IMG_1466.JPG#rect)

### No Zoom

![Photo 12](/images/photos/IMG_1467.JPG#nozoom)

### Album

<PhotoAlbum id="Test" />

:::
